<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Hello {{name}}, its nice to meet you, you have 30 minutes to activate your account</h1>
    <p>{{url}}</p>
    <a style="background-color: #4040aa; color:white; padding: 2em; text-align: center;" href="{{url}}">Activate account</a>
</body>
</html>